@import url('https://fonts.cdnfonts.com/css/graphik');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: graphik, sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
    
}
body{
    background: rgb(255, 253, 245);
}

nav{
    background: rgb(255, 253, 245);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 52px;
    position: fixed;
    width: 100%;
    z-index: 100;
    font-size: 18px;
    font-weight: normal;
}
#nav-links{
    display: flex;
    align-items: center;
    
}
#page-links ul{
    display: flex;
    justify-content: center;
    padding-right: 55px;
}
#page-links ul li {
    list-style-type: none;
    padding: 2px 47px 0 0;
}
ul li a {
    color: #5c5b5b;
    opacity: 0.9;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: lighter;
    letter-spacing: 0.03em;
}
a{
    text-decoration: none;
}
#Enroll-btn{
    display: flex;
    align-items: center;
}
#nav-enroll-link{
    position: initial;
    background: #e7332b;
    border-radius: 71px;
    color: #ffffff;
    padding: 12px 32px;
    letter-spacing: 0.03em;
    font-size: 18px;
    min-width: 60px;
}
#nav-enroll-img{
    background: #e7332b;
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    margin-left: -46px;
    margin-top: -35px;
}


#hero-page{
    display: flex;
    justify-content: center;
    
    align-items: center;
    padding-top: 200px ;
    width: 90%;
    margin: auto;

}
#container{
    position: relative;
    
}

#container p:first-child{
    color:  #e7332b;
    text-align: center;
    opacity: 0.9;
    font-size: 18px;
   
}
#container p:nth-child(2){
    color: #1b1a20;
    font-size: 49px;
    font-weight: 600;
    line-height: 110%;
    padding-top: 10px;
    text-align: center;
    letter-spacing: 0.003em;
    width: 110%;
}
/* #lady1-image{
    padding-top: 60px;
} */
#lady1-image img{
    mix-blend-mode: darken!important;    
}
/* #male1-image{
    padding-top: 52px;
} */
#male1-image img{
    mix-blend-mode: darken!important;
}
#line1{
    display: flex;
    justify-content: right;
}
#line2{
    display: flex;
    justify-content: end;
}
.line3{
    position: absolute;
    top:230px;
}
#btn{
    text-align: center;
    margin-top: 80px;
}
#btn a{
    background: #e7332b;
    border-radius: 71px;
    color: #fff;
    padding: 13px 35px;
}
#enrol-details{
    background-color: rgb(231, 51, 43)
}
.enrol-section{
    width:80%;
    margin:80px auto; 
}
#stacks-page{
    margin:80px auto; 
    width: 90%; 
}
#Course-structure{
    margin:80px auto; 
    width: 80%;
}
#enroll-page{
    margin:80px auto; 
    width: 90%;
}
#circle{
    display: flex;
    margin-bottom:25px;
}
#enroll-container{
    /* background-color: rgb(231, 51, 43); */
    border-radius: 24px; 
    background-color: #e7332b;
    position: relative;
    text-align: center;
    /* min-height: 450px; */

    
}
#enroll-content{
    line-height:4.5em;
    color: #fff!important;
    margin: auto;
    width: 50%;
}
#enroll-box p:first-child{
    font-size: 17px;
    font-weight: 400;
    padding-top: 54px; 
    line-height:3.5em;
    
    
}
#enroll-box p:nth-child(2){
    font-size: 55px;
    font-weight:600;

}
#box-enroll-btn a{
    background: #fff;
    border-radius: 70px;
    color: #e7332b;
    padding: 12px 32px;
    font-size: 18px;
    

}
#box-enroll-btn{
    margin-top: 20px;
}
#curve-round{
    display: flex;
    align-items: center;
    padding-top: 100px;
}
#curve-left{
    position: absolute;
    left:-40px;
    margin-top: -80px;
}
#round-right{
    position: absolute;
    right:0;
    margin-top:-105px;
    
}
#round-right{
    width: 110%;
    display: flex;
    justify-content:flex-end;
}
#round img{
    
    position: absolute;
    left: 130px;
    margin-top: 70px;

}
#bend img{
    position: absolute;
    right:0.1em;
}
#faq-box{
    width:79%;
    margin: auto;
}
.faq-content{
    position: relative;
    margin:0 20px;
    /* background-color: rgb(255, 253, 245) !important; */
    border: 1px solid rgba(71, 44, 111, 0.43);
    padding: 20px;
    
}
.faq-content .content-header{
    position: relative;
    cursor: pointer;
    padding-top: 10px;    
}
.content-header::before{
    content: "+";
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    font-size:2em;

}
.faq-content.active .content-header::before{
    rot
}
.content{
    position: relative;
    overflow: hidden;
    transition:0.5s;
    height: 0;
    padding-top: 10px;
}
.faq-content.active .content{
    height:auto;
}
footer{
    width: 90%;
    margin: auto;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight:400 !important;
    color: #1b1a20;
}
#contact-info{
    display: flex;
    justify-content:space-between;
}
#social-links img{
    padding-right: 8px;
}
#copyright-policy{
    display: flex;
    justify-content: space-between;
    padding: 2.6rem 0 2.6rem 0  ;
}
#policy{
    display: flex;
}
#policy p:first-child{
    padding-right: 1rem;
}
