@import url('https://fonts.cdnfonts.com/css/graphik');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: graphik, sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
    background: rgb(255, 253, 245);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 50px;
    position: fixed;
    width: 100%;
    z-index: 100;
    font-size: 16px;
    font-weight: normal;
}
#nav-links{
    display: flex;
    align-items: center;
    
}
#page-links ul{
    display: flex;
    justify-content: center;
    padding-right: 55px;
}
#page-links ul li {
    list-style-type: none;
    padding: 2px 47px 0 0;
}
ul li a {
    color: #5c5b5b;
    opacity: 0.9;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    letter-spacing: 0.03em;
}
a{
    text-decoration: none;
}
#Enroll-btn{
    display: flex;
    align-items: center;
}
#nav-enroll-link{
    position: initial;
    background: #e7332b;
    border-radius: 71px;
    color: #ffffff;
    padding: 11px 32px;
    letter-spacing: 0.03em;
    font-size: 16px;
    min-width: 60px;
}
#nav-enroll-img{
    background: #e7332b;
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    margin-left: -42px;
    margin-top: -34px;
}


#hero-page{
    display: flex;
    padding: 182px 60px 0 60px;

}
#container{
    position: relative;
}
#container p:first-child{
    color:  #e7332b;
    text-align: center;
    opacity: 0.9;
}
#container p:nth-child(2){
    color: #1b1a20;
    font-size: 43px;
    font-weight: 600;
    line-height: 110%;
    padding-top: 10px;
    text-align: center;
}
#lady1-image{
    padding-top: 76px;
}
#lady1-image img{
    mix-blend-mode: darken!important;    
}
#male1-image{
    padding-top: 52px;
}
#male1-image img{
    mix-blend-mode: darken!important;
}
#line1{
    display: flex;
    justify-content: right;
}
#line2{
    display: flex;
    justify-content: end;
}
.line3{
    position: absolute;
    top:230px;
}
#btn{
    text-align: center;
    margin-top: 70px;
}
#btn a{
    background: #e7332b;
    border-radius: 71px;
    color: #fff;
    padding: 13px 35px;
}
